<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--webpage title-->
    <title>Browse Event</title>

    <!--javascript-->
    <script type="text/javascript" src="../../controller/library/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../controller/library/cookie.js"></script>
    <script type="text/javascript" src="../../controller/others/ssFunction.js"></script>
    <script type="text/javascript" src="../../controller/others/menuIcon.js"></script>

    <!--stylesheet-->
    <link rel="stylesheet" href="../../style/event/browse.css" />
    <link rel="stylesheet" href="../../style/others/global_nav.css" />
    <link rel="stylesheet" href="../../style/others/responsive.css" media="screen and (max-width: 900px)" />
</head>
<body>
<div class="nav_container">
    <script language="javascript" type="text/javascript" src="../../controller/navigation_bar/nav_bar_user.js"></script>
</div>
<div class="browse_container">
    <script language="javascript" type="text/javascript" src="../../controller/event/getEventInfo.js"></script>
</div>

<div id="bg">
    <img src="../../drawable/backg.jpg" alt="">
</div>

<!--<div class="browse_container">-->
<!--<div class="browse_box">-->
<!--<div class="cover_p"><img src="resource/testpic1.jpg"/> </div>-->
<!--<div class="flex_2">-->
<!--<div id="output">this element will be accessed by jquery and this text replaced</div>-->
<!--<script language="javascript" type="text/javascript" src="js/getEventInfo.js"></script>-->
<!--</div>-->
<!--<div class="flex_2">Date & Time</div>-->
<!--&lt;!&ndash;<button>Apply Ticket</button>&ndash;&gt;-->
<!--<form action="apply.html">-->
<!--<input class="apply_tix" type="submit" value="Apply Ticket">-->
<!--</form>-->
<!--</div>-->
<!--<div class="browse_box">-->
<!--<div class="cover_p"><img src="resource/testpic2.jpg"/> </div>-->
<!--<div class="flex_2">Name</div>-->
<!--<div class="flex_2">Date & Time</div>-->
<!--<form action="apply.html">-->
<!--<input class="apply_tix" type="submit" value="Apply Ticket">-->
<!--</form>-->
<!--</div>-->
<!--<div class="browse_box">-->
<!--<div class="cover_p"><img src="resource/testpic3.jpg"/> </div>-->
<!--<div class="flex_2">Name</div>-->
<!--<div class="flex_2">Date & Time</div>-->
<!--<form action="apply.html">-->
<!--<input class="apply_tix" type="submit" value="Apply Ticket">-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
</body>
</html>