#bg {
    position:fixed;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
}

#bg img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:50%;
    min-height:50%;
}

#page-wrap1 {
    position: relative;
    z-index: 1;
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background: #C3F5F7;
    opacity: 1.9;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}

input[type=text]:focus {
    border-color:#333;
    background-color: #FFFFFF;
}

input[type=text] {
    padding:5px;
    border:2px solid #8e8e8e;
    -webkit-border-radius: 5px;
    border-radius: 15px;
}

label {
    color: #1C1111;
    font-weight: 600;
    font-family: "Berlin Sans FB";
    display: block;
    float: left;
}

h1{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

h2{
    display: block;
    font-family: 'Roboto', sans-serif;
}