<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--webpage title-->
    <title>View Ticket</title>

    <!--javascript-->
    <script type="text/javascript" src="../../controller/library/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../controller/cookie/cookie.js"></script>
    <script type="text/javascript" src="../../controller/others/menuIcon.js"></script>
    <script type="text/javascript" src="../../controller/others/ssFunction.js"></script>

    <!--stylesheet-->
    <link rel="stylesheet" href="../../style/others/global_nav.css" />
    <link rel="stylesheet" href="../../style/ticket/view_ticket.css" />
    <link rel="stylesheet" href="../../style/event/browse.css" />
    <link rel="stylesheet" href="../../style/others/responsive.css" media="screen and (max-width: 900px)" />
</head>
<body>
<div class="nav_container">
    <script language="javascript" type="text/javascript" src="../../controller/navigation_bar/nav_bar_user.js"></script>
</div>
<div class="view_container">
    <script language="javascript" type="text/javascript" src="../../controller/ticket/view_ticket.js"></script>
</div>

<div id="bg">
    <img src="../../drawable/backg.jpg" alt="">
</div>

</body>
</html>