<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--webpage title-->
    <title>Log In</title>

    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="../../style/app/app.css">
    <link rel="stylesheet" type="text/css" href="../../style/login/login.css">

    <!--Use Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Questrial|Roboto" rel="stylesheet">

    <!--Use Google CDN Jquery script for easier integration test -->
    <script type="text/javascript" src="../../controller/library/jquery-3.2.1.min.js"></script>

    <!-- Cookies -->
    <script type="text/javascript" src="../../controller/cookie/cookie.js"></script>

    <script type="text/javascript" src="../../controller/login/login.js"></script>

</head>
    <body>
    <div>
        <form id="loginForm" method="get" onsubmit="return validation()">
            <div id="container">

                <h2>Event Management System Login</h2>
                <div class="imgContainer">
                    <img src="../../drawable/user-icon.png" alt="user_icon" class="userIcon">
                </div>

                <div class="detailContainer">
                    <label>
                        <p>Username</p><input type="text" id="username" placeholder="Enter Username" name="username" required>
                    </label>

                    <label>
                        <p>Password</p><input type="password" id="password" placeholder="Enter Password" name="password" required>
                    </label>

                    <label>
                        <p>Login as</p>
                    </label>

                    <select name="login_choice" id="role">
                        <option value="user">User</option>
                        <option value="organizer">Organizer</option>
                    </select>

                    <p>Do not have an account? <a href="../register/register.html" style="color:darkblue"><b>Register Here</b></a></p>

                    <p class="warning_message" id="login_warning"></p>

                    <button class="submitButton" type="submit" id="login" onclick="setCookie()">Login</button>
                </div>
            </div>
        </form>
    </div>
    </body>
</html>