* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.browse_container {
    /*width: 450px;*/
    /*height: 500px;*/
    border: 2px solid red;
    display: flex;
    justify-content: center;
    background-color: #a6a6a6;
    flex-wrap: wrap;
}

div.browse_box {
    border: 2px solid black;
    width: 430px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
}

div.cover_p {
    /*border: 2px solid blue;*/
    margin: 10px;
    flex: 6;
}

div.cover_p img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

div.flex_1 {
    flex: 1;
    border: 10px solid transparent;
}

div.flex_2 {
    flex: 2;
    border: 10px solid transparent;
}

.block-with-text {
    /*flex: 2;*/
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 2.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;

    /* */
    margin-right: -1em;
    padding-right: 1em;
    border-right: 20px solid transparent;
}
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    margin-top: 0.2em;
    background: #a6a6a6;
}

input.apply_tix {
    width: 100%;
}