html, body, ul {
    /*remove white space around the border*/
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

div.nav_bar {
    background-color: #a6a6a6;
    /*padding: 0 20px;*/
    cursor: default;
}

div.nav_bar a {
    margin: 0;
    padding: 0;
}

div.nav_bar a img {
    max-width: 100%;
    /*height: 30px;*/
    height: 47px;
    /*margin: -15px -20px;*/
    /*make the picture align to the middle of other words and not use middle as base*/
    vertical-align: middle;
    padding: 9px 15px;
    /*float: left;*/
    position: absolute;
    /*clear: left;*/
}

div.nav_bar a img:hover {
    background-color: #cecece;
    /*vertical-align: top;*/
    /*padding: 5px -11px;*/
}

ul.link {
    /*text-align: right;*/
    margin: 0;
    padding: 0;
    float: right;
}

ul.link li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

ul.link li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    /*border: 15px solid #a6a6a6;*/
    color: #FFFFFF;
    border-left: 1px solid #a6a6a6;
    padding: 15px 20px;
    position: relative;
    /*top: -12px;*/

}

ul.link li a:hover {
    background-color: #cecece;
    /*border: 15px solid #cecece;*/
    /*border-left: 1px solid #cecece;*/
    /*padding: 15px 20px;*/
    /*position: relative;*/
    /*top: -12px;*/
}

div.nav_menu {
    display: none;
}

.stick_left {
    float: left;
    clear: left;
}

.m1, .m2, .m3 {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.trans .m1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.trans .m2 {
    opacity: 0;
}

.trans .m3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.clear_fix:before, .clear_fix:after { content: ""; display: table; }
.clear_fix:after { clear: both; }
.clear_fix { *zoom: 1; }