<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Management System</title>
    <link rel="stylesheet" type="text/css" href="../style/login.css">
</head>
<body>

<h1>Event Management System</h1>

<div>
    <!--Temperorary create div for bootstrap later -->
    <div>
        <a class="login_selection_element" href="login.html">
            <div >
                Login as User
            </div>
        </a>
    </div>

    <!--Temperorary create div for bootstrap later -->
    <div>
        <a class="login_selection_element" href="login.html">
            <div>
                Login as Admin
            </div>
        </a>
    </div>

    <div>
        <p>Do not have an account? <a href="register.html">Register here.</a></p>
    </div>
</div>


</body>
</html>