<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../style/register.css">

    <!--Use Google CDN Jquery script for easier integration test -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../controller/register/register.js"></script>

<body>

<!-- Expected parameter to be developed in future: Action on database, Method with GET or POST -->
<form method="post" onsubmit="return validation()">
<div>
    <p>
        <label>
            User name: <input type="text" id="username" placeholder="yinghua" name="username" required>
        </label>
    </p>

    <p class="warning_message" id="user_warning"></p>

    <p>
        <label>
            Password: <input type="password" id="password" name="password" required>
        </label>
    </p>

    <p>
        <label>
            Retype-Password: <input type="password" id="retypePassword" name="retypePassword" required>
        </label>
    </p>

    <p class="warning_message" id="password_warning"></p>

    <p>
        <label>
            First name: <input type="text" id="firstname" placeholder="Yinghua" name="firstname" required>
        </label>
    </p>

    <p>
        <label>
            Last name: <input type="text" id="lastname" placeholder="Chai" name="lastname" required>
        </label>
    </p>

    <p class="warning_message" id="name_warning"></p>

    <p>
        <label>
            Email Address: <input type="text" id="email" placeholder="sample@hotmail.com" name="email" required>
        </label>
    </p>

    <p class="warning_message" id="email_warning"></p>

    <p>
        <label>
            Telephone: +6<input type="text" id="telephone" placeholder="012-3465893" name="telephone" required>
        </label>
    </p>

    <p class="warning_message" id="telephone_warning"></p>

    <p>
        Register as :
        <select name="register_choice" id="role">
            <option value="user">User</option>
            <option value="organizer">Organizer</option>
        </select>
    </p>

    <button type="submit" value="Register">Register</button>
</div>
</form>



</body>
</html>