* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.browse_container {
    /*width: 450px;*/
    /*height: 500px;*/
    border: 2px solid red;
    display: flex;
    justify-content: center;
    background-color: #a6a6a6;
    flex-wrap: wrap;
}

div.browse_box {
    border: 2px solid black;
    width: 430px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
}

div.cover_p {
    /*border: 2px solid blue;*/
    margin: 10px;
    flex: 6;
}

div.cover_p img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

div.flex_1 {
    flex: 1;
}

div.flex_2 {
    flex: 2;
}

input.apply_tix {
    width: 100%;
}