#bg2 {
    position:fixed;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
    z-index: -1;
}

#bg2 img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:50%;
    min-height:50%;
}

#page-wrap2 {
    position: relative;
    z-index: 1;
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background: #C3F5F7;
    opacity: 1.9;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

#signin{
    display: inline-block;
    border: 1px solid #7B68EE;
    background-color: #7B68EE;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    padding: 3px 5px;
    font-family: inherit;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 935px;
}

#Cevent{
    display: inline-block;
    border: 1px solid #7B68EE;
    background-color: #7B68EE;
}

div.nav_bar a img {
    height: 37px;
    padding: 6px 11px;
}

h1{
    border: 3px solid grey;
    font-family: Arial, sans-serif;

}