<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>This is about page</title>
        <script type="text/javascript" src="../controller/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../controller/cookie/cookie.js"></script>
        <script type="text/javascript" src="../controller/menuIcon.js"></script>
        <link rel="stylesheet" href="../style/global_nav.css" />
        <link rel="stylesheet" href="../style/about_page.css">

    </head>

    <body>
    <div class="nav_container">
        <script language="javascript" type="text/javascript" src="../controller/nav_bar_user.js"></script>
    </div>
    <div id="page-wrap2">
        <!--<div id="signin">-->
            <!--<a href="#">Sign In</a>-->
        <!--</div>-->

        <h1>About us</h1>
        <br>
        <br>

        <h3>This is a website can help you arrange your time with different event.
            You could customize your own event via our website. Each person may create
            up to 100 events in each account. What are you waiting for?
            Sign up and create your event now!</h3>

        <h3>You can customize your own event description to really sell your event and tell people the most
            important information they need to know. Make sure to include a detailed description, include
            contact information. From your event's Edit page, locate the "Event Description" section under
           Create Event there. Start yor journey now!</h3>

        <br>
        <br>

        <!--<div id="Cevent">-->
        <!--<a href="http://localhost:63342/WebAppAssignment/others/jiale/createevent.html?_ijt=4firmfd20g0r318hl49h6e4k65">-->
            <!--Create event now.</a>-->
        <!--</div>-->

        <br>
        <br>

        <h1>Our team members</h1>

        <br>
        <br>

        <p>Chai Ying Hua</p>
        <p>Kiat Jia Le</p>
        <p>Cheong Gwen Yit</p>
        <p>Ong Choon Kit</p>

        </div>

        <div id="bg2">
            <img src="../drawable/bgbg2.jpg" alt="">
        </div>
    </body>
</html>