<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Event Management</title>

        <!--CSS-->
        <link rel="stylesheet" href="../style/global_nav.css" />
        <!--this means if screen max width less than 900px, use this CSS-->
        <link rel="stylesheet" href="../style/responsive.css" media="screen and (max-width: 900px)" />

        <!--javascript-->
        <script type="text/javascript" src="../script/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../script/menuIcon.js"></script>
    </head>
    <body>


        <!--navigation bar-->
        <div class="nav_bar clear_fix">
            <!--main page link-->
            <a href="index.html" class="stick_left"><img src="../resources/Home_Page.png" alt="Home Page" /></a>
            <!--navigation bar for menu-->
            <div class="nav_box">
            <div><div class="nav_menu" onclick="menu_expander(this)">
                <div class="m1"></div>
                <div class="m2"></div>
                <div class="m3"></div>
            </div></div>
            <ul class="link">
                <li><a href="#">Login/Register</a></li>
                <li><a href="#">About</a></li>
                <!--<li><a href="#">cccccc</a></li>-->
                <!--<li><a href="#">dddddd</a></li>-->
                <!--<li><a href="#">eeeeee</a></li>-->
            </ul>
            </div>
        </div>
    asdada
    </body>
</html>

<!--https://www.w3schools.com/howto/howto_css_dropdown.asp-->