<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">

		<title>Demo Retrieval</title>
		<script type="text/javascript" src="../controller/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../controller/menuIcon.js"></script>
		<link rel="stylesheet" href="../style/view_event.css" />
		<link rel="stylesheet" href="../style/global_nav.css" />
		<link rel="stylesheet" href="../style/responsive.css" media="screen and (max-width: 900px)" />
	</head>

	<body>
		<div class="nav_container">
			<script language="javascript" type="text/javascript" src="../controller/nav_bar_admin.js"></script>
		</div>

		<div id="page-wrap">
			<script language="javascript" type="text/javascript" src="../controller/viewEvent.js"></script>
		</div>

		<div id="bg">
			<img src="../drawable/heh.jpg" alt="">
		</div>
	</body>

</html>