<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Ticket</title>
        <script type="text/javascript" src="../controller/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../controller/cookie/cookie.js"></script>
        <script type="text/javascript" src="../controller/menuIcon.js"></script>
        <script type="text/javascript" src="../controller/ssFunction.js"></script>
        <link rel="stylesheet" href="../style/global_nav.css" />
        <link rel="stylesheet" href="../style/view_ticket.css" />
        <link rel="stylesheet" href="../style/browse.css" />
        <link rel="stylesheet" href="../style/responsive.css" media="screen and (max-width: 900px)" />
    </head>
    <body>
        <div class="nav_container">
            <script language="javascript" type="text/javascript" src="../controller/nav_bar_user.js"></script>
        </div>
        <div class="view_container">
            <script language="javascript" type="text/javascript" src="../controller/view_ticket.js"></script>
        </div>
    </body>
</html>